<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link rel="stylesheet"
          href=
"https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    
    <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
  </script>
    
    <script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js">
  </script>
    <title>Document</title>
</head>

<body>

       
  <header>
    <a href="/users/logout" class='btnn btn-secondary btn-sm pull-right' role="button" style="margin-top: 10px;">
      <span class="glyphicon glyphicon-log-out"></span>logout</a>

  </header><br>

    <table  style="border:1px solid black;" class="table">
      
        <h1 class='bg-danger text-center p-4 '>View Results</h1>

        
    
       
        <tr >
            <th>S.no</th>
            <th>Names</th>
            <th>Email</th>
            <th>Exam name</th>
            <th>Grade</th>
            <th>Duration</th>
            <th>status</th>
            
        </tr>
        <tbody>
    <% users.forEach(function (user , index){ %>
        <tr>
            <td><%= index + 1 %></td>
            <td><%= user.name %> </td>
            <td><%= user.email %> </td>
            <td> <% if( user.results.length!=0){ %>
                <%  user.results.forEach(exam=>{ %>
                    <%= exam.exam_name %><br>
                    <% }) %>
              <% } else{ %>  
                <h4>not attempted</h4>
             <% } %></td>
            <td> <% if( user.results.length!=0){ %>
                <%  user.results.forEach(exam=>{ %>
                    <%= exam.finalScore %>/ <%= exam.totalQuestions %><br>
                    <% }) %>
              <% } else{ %>  
                <h4>NULL</h4>
             <% } %></td>
             <td> <% if( user.results.length!=0){ %>
                <%  user.results.forEach(exam=>{ %>
                    <%= exam.totalMinutesTaken %> min<br>
                    <% }) %>
              <% } else{ %>  
                <h4>NULL</h4>
             <% } %></td>
             <td> <% if( user.results.length!=0){ %>
                <%  user.results.forEach(exam=>{ %>
                    ✔ <br>
                    <% }) %>
              <% } else{ %>  
                <h4>NULL</h4>
             <% } %></td>
  
            <% }) %>
           
       
         
       
           
        </tr>
  
       
        <tbody>
</body>
</html>