


<h1>View all Exams</h1>



<a href='/exam/create'>Create Exam</a>
<table  style="border:1px solid black;" class="table">
      
        
    <thead class="thead-dark">
        <tr>
            <th>Sr.no</th>
            <th>Date</th>
            <th>ExamName</th>
            <th>Active</th>
            <th>Actions</th>
            
        </tr>
    </thead>
    <tbody>

        <% exams.forEach(function (exam , index){ %>
            <tr>
                <td><%= index + 1 %></td>
                <td><%=  exam.date.toDateString() %></td>
                <td><%= exam.name %></td>
                <td>
                    <% if(exam.isActive==true){ %>
                        <label class="switch">
                            <input type="checkbox" onclick="isactive(this.id)" id = <%=exam.id%> checked >
                            <span class="slider round"></span>
                          </label>
                     <% } else{ %>
                        <label class="switch">
                            <input type="checkbox" onclick="isactive(this.id)" id = <%=exam.id%> name ="check" >
                            <span class="slider round"></span>
                          </label>
                      <% } %></td>
                <td><a href='exam/edit/<%= exam.id%>'>Edit</a><a class="btn btn-raised btn-danger" href="/exam/delete/<%= exam.id %>">Delete</a></td>
            </td>
           
               
            </tr>
        <% }) %>

       
    </tbody>
</table>
<script>

    function isactive(e){
       fetch(`/exam/${e}/active`)
    }
</script>


</body>