


<h1>View all Exams</h1>



<a href='/exam/create'>Create Exam</a>


<div>
    <input type="text" name="" id="input" onkeyup="searchfun()" placeholder="search name" >
  </div>
  <% if(all_exams.length>size){ %>
    <a class="" href="/exam?page=<%=pages +1%>" >next_page</a>
 <% }  %>
   
        
 <button class=' '>
  <a href="/users/logout">logout</a>
 </button>

<table id="mytable"  style="border:1px solid black;" class="table">
      
        
    <thead class="thead-dark">
        <tr>
            <th>Sr.no</th>
            <th>Date</th>
            <th>ExamName</th>
            <th>Active</th>
            <th>Actions</th>
            
        </tr>
    </thead>
    <tbody>

        <% exams.forEach(function (exam , index){ %>
            <tr>
                <td><%= index + 1 %></td>
                <td><%=  exam.date.toDateString() %></td>
                <td><%= exam.name %></td>
                <td>
                    <% if(exam.isActive==true){ %>
                        <label class="switch">
                            <input type="checkbox" onclick="isactive(this.id)" id = <%=exam.id%> checked >
                            <span class="slider round"></span>
                          </label>
                     <% } else{ %>
                        <label class="switch">
                            <input type="checkbox" onclick="isactive(this.id)" id = <%=exam.id%> name ="check" >
                            <span class="slider round"></span>
                          </label>
                      <% } %></td>
                <td><a href='exam/edit/<%= exam.id%>'>Edit</a><a class="btn btn-raised btn-danger" href="/exam/delete/<%= exam.id %>">Delete</a></td>
            </td>
           
               
            </tr>
        <% }) %>

       
    </tbody>
</table>
<script>
   
     const searchfun =()=>{
       let filter = document.getElementById("input").value.toUpperCase()

       let myTable = document.getElementById("mytable")
       let tr =myTable.getElementsByTagName("tr")

       for(var i =0 ; i<tr.length;i++){
         let td = tr[i].getElementsByTagName("td")[2]
         if(td){
           let textvalue = td.textContent||td.innerHTML

           if(textvalue.toUpperCase().indexOf(filter) > -1){
             tr[i].style.display =""
           }else{
             tr[i].style.display = "none"
           }
         }
       }
     }


    function isactive(e){
       fetch(`/exam/${e}/active`)
    }
</script>


</body>