<!DOCTYPE html>
<html lang="en">
  <head>
    
      
      
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  
  </head>
  <%- include ("./partials/messages") %>
  
  <body>
    <a class="" href="/all_Questions_data?page=<%=pages +1%>" >next_page</a>
    
    
    <form action="/all_Questions_data" method="GET">
      <select name="search" id="mySelect"   style="width:200px"  >
        <option  value="">All question</option>
        <% var options = []; %> <% exam_name.forEach(function (exam , index){%>
            

        <option id="<%=exam.id%>" value="<%= exam.name %>" <%=(selected_exam == exam.name)&&"selected"%>>
          <%= exam.name %>
        </option>

        <% } )%>
      </select>

      <button class="search-btn" type="submit">Search</button>

      <div class="imae"></div>
    </form>

    <a id="" href="/create_question"
      >Add new question</a >

    <h1> view All Questions</h1>
    <h3><%=selected_exam%></h3>
    
    <table style="border: 1px solid black" class="table">
      <thead class="thead-dark">
        <tr>
          <th>Sr.no</th>
          <th>Questions</th>
          <th>options</th>
        </tr>
      </thead>
      <tbody>
        <% if(questions.length==0){ %>
          <h3>No questions available</h3>

          <% } else{ %>
        <% questions.forEach(function (question , index){ %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%=question.questionName %></td>
          <td>
            
            <a class="btn btn-raised btn-success" href="/question/update/<%= question.id%>/<%=Array.isArray(exam_id)?exam_id[index]:exam_id %>">Edit</a>

          </td>
          <td>
            <a
              class="btn btn-raised btn-danger"
              href="/question/delete/<%= question.id %>/<%=Array.isArray(exam_id)?exam_id[index]:exam_id %>"
              >Delete</a
            >
          </td>
        </tr>
        <% }) %>
        <% } %>
      </tbody>
      -->
    </table>
    
   
  </body>
  
</html>
