<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
    <link rel="stylesheet"
          href=
"https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    
    <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
  </script>
    
    <script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js">
  </script>
    <title>Document</title>
    
  </head>
  <body>


<h1 class="text-center" style="background-color: rgb(230, 189, 208)">View All Exams</h1>

<a href="/users/logout" class='btn btn-secondary btn-sm pull-right' role="button">
  <span class="glyphicon glyphicon-log-out"></span>logout</a>

<a href='/exam/create'  class="btn btn-primary btn-sm" role="button">Create Exam</a><br>




<div>
    <input type="text" name="" id="input" onkeyup="searchfun()" placeholder="search name" >
  </div>

<table id="mytable"  style="border:1px solid black;" class="table">
      
        
    <thead class="thead-dark">
        <tr>
            <th>Sr.no</th>
            <th>Date</th>
            <th>ExamName</th>
            <th>Active</th>
            <th>Actions</th>
            
        </tr>
    </thead>
    <tbody>

        <% exams.forEach(function (exam , index){ %>
            <tr>
                <td><%= index + 1 %></td>
                <td><%=  exam.date.toDateString() %></td>
                <td><%= exam.name %></td>
                <td>
                    <% if(exam.isActive==true){ %>
                        <label class="switch">
                            <input type="checkbox" onclick="isactive(this.id)" id = <%=exam.id%> checked >
                            <span class="slider round"></span>
                          </label>
                     <% } else{ %>
                        <label class="switch">
                            <input type="checkbox" onclick="isactive(this.id)" id = <%=exam.id%> name ="check" >
                            <span class="slider round"></span>
                          </label>
                      <% } %></td>
                <td><a href='exam/edit/<%= exam.id%>'  class="btn btn-primary btn-sm">Edit</a>  <a class="btn btn-raised btn-danger" href="/exam/delete/<%= exam.id %>">Delete</a></td>
            </td>
           
               
            </tr>
        <% }) %>

       
    </tbody>
</table>
<script>
   
     const searchfun =()=>{
       let filter = document.getElementById("input").value.toUpperCase()

       let myTable = document.getElementById("mytable")
       let tr =myTable.getElementsByTagName("tr")

       for(var i =0 ; i<tr.length;i++){
         let td = tr[i].getElementsByTagName("td")[2]
         if(td){
           let textvalue = td.textContent||td.innerHTML

           if(textvalue.toUpperCase().indexOf(filter) > -1){
             tr[i].style.display =""
           }else{
             tr[i].style.display = "none"
           }
         }
       }
     }


    function isactive(e){
       fetch(`/exam/${e}/active`)
    }
</script>


</body>