<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

   

<%- include ("./partials/messages") %>
<body>
     
    
       
    <h3>Edit question for <%=exam.name%></h3>
    <form action="/question/update/<%=questionid%>/<%=exam.id%>" method="POST">
        <h3>#questions</h3>
        
        <textarea id="questionName"  name="questionName" rows="4" cols="50"> <%=question.questionName%></textarea>
        <h3>select option</h3>
        <label for="option1">option1</label>
        <input type="text" id="option1" value="<%=question.option1%>"name="option1" ><br>
        <label for="option2">option2</label> 
        <input type="text" id="option2" value="<%=question.option2%>" name="option2" ><br>
        <label for="option3">option3</label>
        <input type="text" id="option3" value="<%=question.option3%>" name="option3" ><br>
        <label for="option4">option4</label>
        <input type="text" id="option4" value="<%=question.option4%>" name="option4" ><br>
        
        <h4>correct option</h4> <select name="correctOption"  id="correctOption">
            <option value="option1">option1</option>
            <option value="option2">option2</option>
            <option value="option3">option3</option>
            <option value="option4">option4</option>
            
          </select>
          <button type="submit">Update</button>
    
    </form>
    <a class="btn btn-info" id="cancel" href="/all_Questions_data"
            >cancel</a
          >
        
</body>

</html>