<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <h1>View all registered student</h1> 
  <button class=''>
    <a href="/users/logout">logout</a>
      </button>

  
  <body> <form action="/users/student_profile" method="GET">
    <input
      type="text"
      name="search"
      id="search"
      placeholder="Search for student"
      class="search"
    />
    <button class="search-btn" type="submit">Search</button>
<div class="imae"></div>
</form>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Sr.no</th>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Registration date</th>
                
            </tr>
        </thead>
        <tbody>
            <!-- <% users.name %> -->
            <% users.forEach(function (user , index){ %>
                <tr>
                    <td><%= index + 1 %></td>
                    <td><%=  user.name %></td>
                    <td><%= user.email %></td>
                    <td><%= user.address %></td>
                    <td><%= user.date.toDateString()  %></td>
                   
                </tr>
            <% }) %>
        </tbody>
    </table>
    
    <!-- <% users.forEach(function (user) { %>
        <li>  
            <p><%= user.name %>  <%= user.email %>  <%= user.address %> </p> 
        </li>                                   
    <% }) %> -->
  </body>
</html>
