<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
    <link rel="stylesheet"
          href=
"https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    
    <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
  </script>
    
    <script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js">
  </script>
    <title>Document</title>
    
  </head>

  <h1 class="text-center">View All Registered Student</h1> 
 
    <a href="/users/logout" class='btn btn-secondary btn-sm pull-right' role="button">
      <span class="glyphicon glyphicon-log-out"></span>logout</a>
     

  
  <body> <div>
    <input type="text" name="" id="myinput" onkeyup="searchfun()" placeholder="search name" >
  </div>

    <table id="mytable"  style="border:1px solid black;" class="table">
      
        
       
            <tr >
                <th>Sr.no</th>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Registration date</th>
                
            </tr>
       
        <tbody>
            <!-- <% users.name %> -->
            <% users.forEach(function (user , index){ %>
                <tr>
                    <td><%= index + 1 %></td>
                    <td><%=  user.name %></td>
                    <td><%= user.email %></td>
                    <td><%= user.address %></td>
                    <td><%= user.date.toDateString()  %></td>
                    <td> <a class="btn btn-raised btn-danger" href="/users/delete_student/<%= user.id %>">Delete</a></td> </td>
               
                   
                </tr>
            <% }) %>

           
        </tbody>
    </table>
    
   <script>
     const searchfun =()=>{
       let filter = document.getElementById("myinput").value.toUpperCase()

       let myTable = document.getElementById("mytable")
       let tr =myTable.getElementsByTagName("tr")

       for(var i =0 ; i<tr.length;i++){
         let td =tr[i].getElementsByTagName("td")[1]
         if(td){
           let textvalue = td.textContent||td.innerHTML

           if(textvalue.toUpperCase().indexOf(filter) > -1){
             tr[i].style.display =""
           }else{
             tr[i].style.display = "none"
           }
         }
       }
     }

     

     
   </script>
  </body>
</html>
