<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <h1>View all registered student</h1> 
  <button class=''>
    <a href="/users/logout">logout</a>
      </button>
     
  
  <body> <div>
    <input type="text" name="" id="myinput" onkeyup="searchfun()" placeholder="search name" >
  </div>
  
  
    <table id="mytable"  style="border:1px solid black;" class="table">
      
        
       
            <tr >
                <th>Sr.no</th>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Registration date</th>
                
            </tr>
       
        <tbody>
            <!-- <% users.name %> -->
            <% users.forEach(function (user , index){ %>
                <tr>
                    <td><%= index + 1 %></td>
                    <td><%=  user.name %></td>
                    <td><%= user.email %></td>
                    <td><%= user.address %></td>
                    <td><%= user.date.toDateString()  %></td>
                    <td> <a class="btn btn-raised btn-danger" href="/users/delete_student/<%= user.id %>">Delete</a></td> </td>
               
                   
                </tr>
            <% }) %>

           
        </tbody>
    </table>
    
   <script>
     const searchfun =()=>{
       let filter = document.getElementById("myinput").value.toUpperCase()

       let myTable = document.getElementById("mytable")
       let tr =myTable.getElementsByTagName("tr")

       for(var i =0 ; i<tr.length;i++){
         let td =tr[i].getElementsByTagName("td")[1]
         if(td){
           let textvalue = td.textContent||td.innerHTML

           if(textvalue.toUpperCase().indexOf(filter) > -1){
             tr[i].style.display =""
           }else{
             tr[i].style.display = "none"
           }
         }
       }
     }

     

     
   </script>
  </body>
</html>
