<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      

    <title>Document</title>
   <style>
   
      .dev{background-color: lightgreen;
        margin-top:20px;
        margin-left:20px;
        margin-right: 20px;
        color:black ;
        line-height:3em;
       
  border: 5px solid rgba(0, 255, 170, 0);
}
.finish-box{width:auto;
  padding:10px;

  margin-left:100px ;
  margin-right: 100px;
  float: right;
  margin-top: 500px;
}

.questions{
 float:right;
  margin-top: 100px;
  width: 300px;
  height: 500px;
  
}
    
    
   </style>
  </head>
  <%- include ("./partials/messages") %>
  <body>

    <!-- <span id="countdown" class="timer"></span> -->
    <header>
    
    <a href="/users/logout" class='btnn btn-secondary btn-sm pull-right' role="button" style="float:right;margin-top:20px;">
      <span class="glyphicon glyphicon-log-out"></span>logout</a>
    </header>
 <br>
 
   <div class="questions">
    <form
      action="/test/update/<%=examId%>/<%=currentQuestionNumber%>/null" id="form_id" method="POST"
    >
      <h4>
 Question <%=currentQuestionNumber%></h4> <br> <h4><%=question.questionName %></h4> <br>

      <h5>select option</h5><br>
      <input
        type="radio"
        id="option1"
        name="option"
        <%- isAnswerExist&&isAnswerExist=== "option1" && "checked"   %> 
        value="<%=question.option1%>"
        onchange="onChange()"
 
      />
      <label for="option1"><%=question.option1%></label><br />
      <input
        type="radio"
        id="option2"
        name="option"
        <%- isAnswerExist&&isAnswerExist=== "option2" && "checked"   %> 
        value="<%=question.option2%>"
       
        onchange="onChange()"
      />
      <label for="option2"><%=question.option2%></label>
      <br />
      <input
        type="radio"
        id="option3"
        name="option"
        <%- isAnswerExist&&isAnswerExist=== "option3" && "checked"   %> 
        value="<%=question.option3%>"        
        onchange="onChange()"
      />
      <label for="option3"><%=question.option3%></label><br />
      <input
        type="radio"
        id="option4"
        name="option"
        <%- isAnswerExist&&isAnswerExist=== "option4" && "checked"   %> 
        value="<%=question.option4%>"
        onchange="onChange()"
      />
      <label for="option4"><%=question.option4%></label>
      <br><br>
    
      <input type="submit" class="btn btn-success" value="save and next" />
     
    </form>
  </div>
    <br>
  
    <form action=<%=`/test/${examId}/submitTest?_method=PUT`%> method="POST">
        <input type="submit" class="finish-box btn btn-info" value="finish Exam" />
    </form>

    
    <div class="container mt-5 " >
      <div class=" card-deck mb-3 " style="width:25rem;display: inline-block;">
        <div class="card box-shadow" >
          <div class="card-body" style="height:200px">
            <h4 class="text-center">Question Navigation</h4><br>
    <% for(let questionNumber in answeredQuestions) {%>
        <a  class="dev" href=<%=`/test/${examId}/${questionNumber}`%>  ><%=questionNumber%> </a>
    <%}%>
  </div>
</div>

</div>

</div>
    <script>
     
      function onChange() {
        const getSelectedValue = document.querySelector(
          'input[name="option"]:checked'
        );

  document.getElementById(
          "form_id"
        ).action = `/test/update/<%=examId%>/<%=currentQuestionNumber%>/${getSelectedValue.id}`;
      }

//       var tags = document.getElementsByTagName("a");

// for(var i = 0; i < tags.length; i++) {
//     tags[i].onclick = function() {
//         this.style.backgroundColor = 'red';
//         return  ;   
//     }
// }
// var seconds = 120;

//     function secondPassed() {
//       window.localStorage.setItem("Time",seconds)
//     var minutes = Math.round((seconds - 30)/60);
//     var remainingSeconds = seconds % 60;
//     if (remainingSeconds < 10) {
//         remainingSeconds = "0" + remainingSeconds; 
//     }
//     document.getElementById('countdown').innerHTML = minutes + ":" +    remainingSeconds;
//     if (seconds == 0) {
//         clearInterval(countdownTimer);
//         document.getElementById('countdown').innerHTML = "Buzz Buzz";
//     } else {    
//         seconds--;
//     }
//     }

//     window.addEventListener("load",()=>{
//               var selectedTime = window.localStorage.getItem("Time") ;
//               document.getElementById('countdown').value =selectedTime
//               console.log("load",selectedTime);
             
//             })
// var countdownTimer = setInterval('secondPassed()', 1000);

      // let timer = function () {
      //       var minute = 5;
      //       var sec = 60;
      //       setInterval(function () {
      //          document.getElementById("timer").innerHTML =
      //             minute + " : " + sec;
      //          sec--;
      //          if (sec == 00) {
      //             minute--;
      //             sec = 60;
      //             if (minute == 0) {
      //                minute = 5;
      //             }
      //          }
      //       }, 1000);
      //    };
    </script>
  </body>
</html>
