<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Test Review</h2>
    <table  style="border:1px solid black;" class="table">
      
        <tr >
            <th>Grades</th>
            <th>Total Questions</th>
            <th>Attempted</th>
            <th>Unattempted</th>
           
            
        </tr>
       
    <tbody>
     
       
            <tr>
                <td><h4>Total Grades</h4><%= grade%>/<%= totalQuestions%></td>
                <td><h4>Total questions</h4><%= totalQuestions%></td>
                <td><h4>Total Attempted</h4><%= attempted%></td>
                <td><h4>Total UnAttempted</h4><%= unAttempted%></td>
             
           
               
            </tr>
      

       
    </tbody>
</table>
</body>
</html>